.parallax-section{
    padding: 4rem 2rem;
    background: url("../../images/home/paralax.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 180px; */
    background-attachment: fixed;
    margin-bottom: 3rem;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.7rem;
}
.parallax-section::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
}
.parallax-section h2{
    position: relative;
}
.parallax-section h2 span{
    font-weight: 600;
    color: var(--orange);
}
.parallax-section p{
    max-width: 80%;
    position: relative;
    font-size: 14px;
}
.parallax-section .btn-a{
    position: relative;
}

@media screen and (max-width:500px) {
    .parallax-section p{
        font-size: 11px;
    }
}